.gpt3__whatGpt {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt3__whatGpt-heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.gpt3__whatGpt-heading h1 {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    max-width: 500px;
    /* 132.353% */
}

.gpt3__whatGpt-heading p {
    color: #FF8A71;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 2rem 0;
    cursor: pointer;
    /* 187.5% */
}

.gpt3__whatGpt-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gpt3__whatGpt-container .gpt3__feature-contaienr {
    flex: 1;
    display: unset;
    flex-direction: column;
    max-width: 334px;
    align-items: flex-start;

}

.gpt3__whatGpt-container .gpt3__feature-contaienr .gpt3__feature-container-text {
    padding: 0;
}


@media screen and (max-width : 950px) {
    .gpt3__whatGpt-heading h1 {
        max-width: 450px;
        /* 132.353% */
    }

}


@media screen and (max-width : 900px) {
    .gpt3__whatGpt-heading h1 {
        font-size: 30px;
    }

    .gpt3__whatGpt-heading {
        flex-direction: column;
    }

    .gpt3__whatGpt-heading h1 {
        max-width: 700px;
        /* 132.353% */
    }

    .gpt3__whatGpt-heading p {
        padding: 1rem 0;
        /* 187.5% */
    }

}

@media screen and (max-width : 800px) {
    .gpt3__whatGpt-container {
        flex-direction: column;
    }

    .gpt3__whatGpt-container .gpt3__feature-contaienr {
        max-width: 700px;
    }
}

@media screen and (max-width : 600px) {

    .gpt3__whatGpt-heading h1 {
        font-size: 28px;
    }

    .gpt3__whatGpt-heading p {
        font-size: 12px;
        padding: 1rem 0;

    }

    .gpt3__whatGpt-heading {
        display: flex;
        justify-content: space-between;
        margin: 0rem 1rem;
    }

}